{
  "openapi": "3.1.0",
  "info": {
    "title": "SpentOn beta API",
    "version": "1.0.0",
    "description": "Public service discovery and selected authenticated read endpoints. No autonomous agent provisioning or bearer authentication."
  },
  "servers": [
    {
      "url": "https://spenton.dev/api"
    }
  ],
  "externalDocs": {
    "url": "https://spenton.dev/api-docs.md"
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Service health",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/providers": {
      "get": {
        "summary": "Configured browser sign-in providers",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/email-status": {
      "get": {
        "summary": "Email and verification availability",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "summary": "Current account",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/budgets": {
      "get": {
        "summary": "Current account budget summaries",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Secure-spenton.session_token",
        "description": "HttpOnly browser session issued by human sign-in. Not an API key or bearer token. See /auth.md."
      }
    }
  }
}
